nav {
  z-index: 9999;
  position: sticky;
  background-color: rgba(20, 29, 47, 1);
  width: 100%;
  max-width: 1920px;
  box-sizing: border-box;
  height: 100px;
  padding-left: 100px;
  padding-right: 100px;
  top: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  > div {
    display: flex;
    gap: 92px;
  }
}

.logo {
  height: 30px;
}

.links-wrapper {
  display: flex;
  align-items: center;
  gap: 29px;
}

a {
  font-size: 23px;
}

a:hover {
  color: rgba(112, 230, 28, 1);
}

.button-wrapper {
  display: flex;
  align-items: center;
  gap: 14px;
}

button {
  background-color: transparent;
  color: white;
  font-size: 18px;
  font-weight: bold;
  border-radius: 10px;
  width: 40px;
  height: 32px;
  border: solid 1px rgba(112, 230, 28, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

button:hover {
  background-color: rgba(151, 71, 255, 1);
  border: solid 1px rgba(151, 71, 255, 1);
}

.clicket-button {
  background-color: rgba(112, 230, 28, 1);
}

.burger-menu-icon {
  display: none;
  cursor: pointer;
}

.display_none {
  display: none !important;
}

@media only screen and (max-width: 800px) {
  .burger-menu-icon {
    display: flex;
    width: 30px;
  }

  nav {
    padding-left: 50px;
    padding-right: 50px;
  }

  .links-wrapper,
  .button-wrapper {
    display: none;
  }

  .burger-menu-wrapper {
    z-index: 9998;
    background-color: rgb(97, 97, 97);
    display: flex;
    position: sticky;
    top: 100px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 100px);
    width: 100%;
  }

  .font-align-start {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 29px;

    > .burger-button-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 8px;
    }
  }
}
