<nav>
  <img class="logo" src="./../../assets/images/logo.png" alt="" />
  <div>
    <div class="links-wrapper">
      <a href="" routerLink="/about-me">About me</a>
      <a href="">Skills</a>
      <a href="">Portfolio</a>
    </div>
    <div class="button-wrapper">
      <button>DE</button>
      <button>EN</button>
    </div>
  </div>
  <img
    class="burger-menu-icon"
    src="./../../assets/images/burger-menu-icon.png"
    alt=""
  />
</nav>
<div class="burger-menu-wrapper">
  <div class="font-align-start">
  <a href="" routerLink="/about-me">About me</a>
  <a href="">Skills</a>
  <a href="">Portfolio</a>
  <div class="burger-button-wrapper">
    <a href="">EN</a>
    <p>/</p>
    <a href="">DE</a>
  </div>
  </div>
</div>
