<section>
  <div class="pixel-bar-green"></div>
  <div class="footer-wrapper">
    <div class="flex-column">
  <img class="logo" src="./../../assets/images/logo.png" alt="" />
  <p>Legal Notice</p>
  </div>
    <span>© Simon Burlet 2025</span>
    <div class="icon-container">
      <img class="icon" src="./../../assets/icons/8. Github button.png" alt="" />
      <img class="icon" src="./../../assets/icons/9. Email button.png" alt="" />
      <img class="icon" src="./../../assets/icons/10. Linkedin button.png" alt="" />
    </div>
  </div>
</section>
