section {
  max-width: 1920px;
  background-color: rgba(20, 29, 47, 1);
  z-index: 100;
}

.pixel-bar-green {
  height: 4px;
  width: 100%;
  background-color: rgba(112, 230, 28, 1);
}

.footer-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 100px;
  padding-right: 100px;
  height: 291px;

  > .flex-column {
    display: flex;
    flex-direction: column;

    > .logo {
      height: 40px;
    }

    > .p {
      font-size: 16px;
      margin: 0 !important;
    }
  }

  > span {
    font-size: 23px;
  }

  > .icon-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 42px;

    > .icon {
      height: 30px;
      width: 30px;
      cursor: pointer;
    }
  }
}

.legal_responsiv {
  display: none;
}

.legal_full-view {
    margin: 0;
  }

@media only screen and (max-width: 880px) {
  .footer-wrapper {
    padding-left: 50px;
    padding-right: 50px;
    height: auto;
    padding-bottom: 50px;
    padding-top: 50px;
  }
}

@media only screen and (max-width: 660px) {
  .footer-wrapper {
    flex-direction: column;
    gap: 16px;
  }
  .legal_responsiv {
    display: flex;
    margin: 0;
  }
  .legal_full-view {
    display: none;
    margin: 0;
  }
  .logo {
    margin-bottom: 16px;
  }
}
