.selfie-wrapper {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.selfie {
  height: auto;
  width: 40%;
  z-index: 2;
}

.vector {
  position: absolute;
  width: 100vh;
  right: 0;
  z-index: -10;
  top: 20vh;
}

.shadows {
  z-index: 1;
  position: absolute;
  bottom: -50px;
  width: 70%;
  height: auto;
  transition: opacity 2s ease-in-out;
  animation: fadePulse 8s ease-in-out infinite;
}

.section-about-me {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
  width: 100%;
  max-width: 1920px;
  margin-top: 200px;
  margin-bottom: 200px;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 100px;
  width: calc(50% - 100px);
  gap: 24px;

  > div {
    gap: 16px;
    display: flex;
    align-items: flex-start !important;
    justify-content: space-between;

    > p {
      font-size: 16px;
      margin: 0;
    }

    > div {
      height: 48px !important;
      width: 48px !important;
      flex-shrink: 0;
      display: flex;
      align-items: center;
      justify-content: center;

      > img {
        width: auto;
        max-height: 48px;
      }
    }
  }
}

@media only screen and (max-width: 1350px) {
  .selfie {
    width: 50%;
  }
}

@media only screen and (max-width: 1200px) {
  .selfie {
    width: 60%;
  }
}

@media only screen and (max-width: 950px) {
  .section-about-me {
    flex-direction: column;
  }
  .text-wrapper {
    order: 3;
    padding-left: 0;
    width: calc(100% - 100px);
  }
  .selfie {
    height: 500px;
    width: auto;
    z-index: 1;
  }
  .selfie-wrapper {
    order: 1;
  }
}

@media only screen and (max-width: 800px) {
  .section-about-me {
    flex-direction: column;
  }
  .text-wrapper {
    order: 3;
    padding-left: 0;
    width: calc(100% - 100px);
  }
  .selfie-wrapper {
    order: 1;
  }
}
