<section class="section-about-me">
    <div class="text-wrapper">
      <h2>About me</h2>
      <div>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam
          repellendus quis laboriosam rem dolores ut dolorem hic accusantium
          dolore sunt molestias ratione eum fugit at praesentium, quae, commodi
          nostrum labore!
        </p>
      </div>
      <div>
        <div>
          <img src="./../../assets/icons/11.Location.png" alt="" />
        </div>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ab ratione
          suscipit ducimus dolore ea tempora veniam quibusdam quaerat ipsum?
          Quos nostrum quas unde porro quidem modi vero doloremque similique
          non?
        </p>
      </div>
      <div>
        <div>
          <img src="./../../assets/icons/Vector.png" alt="" />
        </div>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ab ratione
          suscipit ducimus dolore ea tempora veniam quibusdam quaerat ipsum?
          Quos nostrum quas unde porro quidem modi vero doloremque similique
          non?
        </p>
      </div>
      <div>
        <div>
          <img src="./../../assets/icons/Vector (1).png" alt="" />
        </div>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ab ratione
          suscipit ducimus dolore ea tempora veniam quibusdam quaerat ipsum?
          Quos nostrum quas unde porro quidem modi vero doloremque similique
          non?
        </p>
      </div>
    </div>
    <div class="selfie-wrapper">
      <img
        class="selfie"
        class="selfie"
        src="./../../assets/images/selfie.png"
        alt=""
      />

    </div>
</section>
