<section>
  <div class="title-bar">
    <div class="flex-grow"></div>
    <h2>Contact</h2>
    <div class="pixel-bar-green"></div>
  </div>
  <div>
    <div>
      <div class="pixel-bar-blue"></div>
      <div>
        <h3>Got a problem to solve?</h3>
        <p>
          Encourage people to contact you and describe what role you are
          interested in. Show that you will add value to their projects through
          your work.
        </p>
        <span
          ><p>Need a Frontend developer?</p>
          <b>Contact me!</b></span
        >
      </div>
    </div>
    <div>
      <input type="text" placeholder="Your name" />
      <input type="email" placeholder="Your email" />
      <textarea name="" id="" placeholder="Your message"></textarea>
      <div>
        <input type="submit" />
        <span
          >I've read the
          <p class="text-lila">privacy policy</p>
          and agree to the processing of my data as outlined</span
        >
      </div>
    </div>
  </div>
</section>
