<section>
  <div class="title-bar">
    <div class="flex-grow"></div>
    <h2>Contact</h2>
    <div class="pixel-bar-green"></div>
  </div>
  <div class="side-wrapper">
    <div class="content-wrapper">
      <div class="subtitle-bar">
        <div class="pixel-bar-blue"></div>
        <h3>Got a problem to solve?</h3>
      </div>
      <div class="contact-text">
        <p>
          Encourage people to contact you and describe what role you are
          interested in. Show that you will add value to their projects through
          your work.
        </p>
        <span
          ><p>Need a Frontend developer?</p>
          <b>Contact me!</b></span
        >
      </div>
    </div>
    <form [formGroup]="form" class="input-wrapper">
      <input type="text" formControlName="name" placeholder="Your name" />
      <input type="email" formControlName="email" placeholder="Your email" />
      <textarea formControlName="message" placeholder="Your message"></textarea>

      <label for="agb" class="checkbox-label">
        <input class="checkbox" type="checkbox" id="agb" formControlName="agb" />
        <span>
          I've read the
          <a href="privacy.html" class="text-lila underline">privacy policy</a>
          and agree to the processing of my data as outlined.
        </span>
      </label>
      <div class="aling-button-center">
        <button class="message-button" type="submit" [disabled]="form.invalid">send message</button>
      </div>
      <div class="aling-icon-wrapper">
        <img class="icon" src="./../../assets/icons/arrow-up.png" alt="" />
      </div>
    </form>
  </div>
</section>
