<section>
  <div class="title-bar">
    <div class="pixelbar-lila"></div>
    <h2>Portfolio</h2>
  </div>
  <span class="intro-text">
    Explore a section of my work here - Interact with projects to see my skills
    in action
  </span>
  <div class="project-wrapper">
    <div class="project-box background-img_1">
      <div class="info-box">
        <div class="button-wrapper">
          <button class="button-git">Github</button>
          <button class="button-test">Live test</button>
        </div>
        <div class="text-box">
          <h3>El Pollo Loco</h3>
          <p>
            Jump, run and throw game based on object-oriented approach. Help
            Pepe to find coins tabasco salsa to fight against the crazy hen.
          </p>
          <p class="text-green">JavaScript | HTML | CSS</p>
        </div>
      </div>
    </div>
    <div class="project-box background-img_2">
      <div class="info-box">
        <div class="button-wrapper">
          <button class="button-git">Github</button>
          <button class="button-test">Live test</button>
        </div>
        <div class="text-box">
          <h3>Join</h3>
          <p>
            Task manager inspired by the Kanban System. Creat and organize tasks
            using drag and drop functions, assign users and categories
          </p>
          <p class="text-green">JavaScript | HTML | CSS | Firebase</p>
        </div>
      </div>
    </div>
    <div class="project-box background-img_3" >
      <div class="info-box">
        <div class="button-wrapper">
          <button class="button-git">Github</button>
          <button class="button-test">Live test</button>
        </div>
        <div class="text-box">
          <h3>Pokédex</h3>
          <p>
            Based on the PokéAPI a simple libary that provides and catalogues
            pokemon information
          </p>
          <p class="text-green">JavaScript | HTML | CSS | API</p>
        </div>
      </div>
    </div>
    <div class="project-box background-img_4">
      <div class="info-box">
        <div class="button-wrapper">
          <button class="button-git">Github</button>
          <button class="button-test">Live test</button>
        </div>
        <div class="text-box">
          <h3>DABubble</h3>
          <p>
            This App is a Slack Clone App. It revolution team communication and
            collaboratuin with its intuitive interface, realtime messaging, and
            robust channel organization
          </p>
          <p class="text-green">Angular | TypeScript | Firebase</p>
        </div>
      </div>
    </div>
  </div>
  <img class="shadow_blue" src="./../../assets/images/53. Blue shadow 2.png" alt="" />
  <img class="shadow_green" src="./../../assets/images/54. Green shadow 3 (skills and portfolio section).png" alt="" />
</section>
