section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 64px;
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  margin-top: 200px;
}

.background-img_1 {
  background-image: url(./../../assets/images/Pollo\ loco\ 3.png);
}

.background-img_2 {
  background-image: url(./../../assets/images/Pollo\ loco\ 3.png);
}

.background-img_3 {
  background-image: url(./../../assets/images/Pollo\ loco\ 3.png);
}

.background-img_4 {
  background-image: url(./../../assets/images/Pollo\ loco\ 3.png);
}

.shadow_blue {
  position: absolute;
  right: 0;
  top: -200px;
  z-index: -1;
  transition: opacity 2s ease-in-out;
  animation: fadePulse 8s ease-in-out infinite;
}

.shadow_green {
  position: absolute;
  z-index: -1;
  top: 800px;
  left: 0;
  transition: opacity 2s ease-in-out;
  animation: fadePulse 8s ease-in-out infinite;
}

.intro-text {
  font-size: 16px;
  margin-left: 100px;
  margin-top: 32px;
  margin-bottom: 32px;
}

.title-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
}

.pixelbar-lila {
  background-color: rgba(151, 71, 255, 1);
  height: 4px;
  width: 68px;
}

.project-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 32px;
  margin-left: 100px;
  margin-right: 100px;
}

.project-box {
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(20, 29, 47, 1);
  height: 600px;
  width: 600px;
  border: solid 1px rgba(112, 230, 28, 1);
  border-radius: 15px;
  transition: background-size 0.3s ease;

  > .info-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;

    .button-wrapper,
    .text-box {
      display: none;
    }
  }

  &:hover {
    background-size: 200%;

    > .info-box {
      .button-wrapper {
        display: flex;
        align-items: center;
        gap: 64px;
        height: 38.6%;

        button {
          height: 58px;
          border-radius: 10px;
          font-size: 23px;
          color: white;
          cursor: pointer;
          padding: 0 16px;
        }

        .button-git {
          background-color: transparent;
          border: solid 1px rgba(28, 218, 230, 1);

          &:hover {
            background-color: rgba(28, 218, 230, 1);
          }
        }

        .button-test {
          background-color: rgba(151, 71, 255, 1);
          border: solid 1px rgba(151, 71, 255, 1);

          &:hover {
            background-color: rgba(112, 230, 28, 1);
            border-color: rgba(112, 230, 28, 1);
          }
        }
      }

      .text-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: white;
        border-radius: 15px;
        padding: 32px;
        flex-grow: 1;

        h3 {
          color: rgba(151, 71, 255, 1);
        }

        p {
          font-size: 24px;
          color: black;

          &.text-green {
            color: rgba(112, 230, 28, 1);
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1432px) {
  .project-box {
    height: 500px;
    width: 500px;
  }
  .project-box:hover {
    background-size: 200%;

    > .info-box {
      .button-wrapper {
        gap: 64px;
        height: 38.6%;

        button {
          height: 58px;
          border-radius: 10px;
          font-size: 23px;
          padding: 0 16px;
        }
      }
    }

    .text-box {
      padding: 32px;
      flex-grow: 1;

      p {
        font-size: 24px;
      }
    }
  }
}

@media only screen and (max-width: 1140px) {
  .project-box {
    height: 400px;
    width: 400px;
  }
}

@media only screen and (max-width: 940px) {
  .project-box {
    height: 320px;
    width: 320px;
  }
}

@media only screen and (max-width: 880px) {
  .project-wrapper {
    margin-left: 50px;
    margin-right: 50px;
  }
}

@media only screen and (max-width: 770px) {
  .project-wrapper {
    justify-content: center;
  }

  .project-box {
    height: 500px;
    width: 500px;
  }
}

@media only screen and (max-width: 600px) {
  .project-box {
    height: 400px;
    width: 400px;
  }
}

@media only screen and (max-width: 500px) {
  .project-box {
    height: 300px;
    width: 300px;
  }
}