<section class="skills-wrapper">
  <div class="icon-wrapper">
    <div>
        <img src="./../../assets/icons/Property 1=html.png" alt="">
        <p>HTML</p>
    </div>
    <div>
        <img src="./../../assets/icons/Property 1=css.png" alt="">
        <p>CSS</p>
    </div>
    <div>
        <img src="./../../assets/icons/Property 1=JavScript.png" alt="">
        <p>JavaScript</p>
    </div>
    <div>
        <img src="./../../assets/icons/Property 1=Typescript.png" alt="">
        <p>TypeScript</p>
    </div>
    <div>
        <img src="./../../assets/icons/Property 1=Angular.png" alt="">
        <p>Angular</p>
    </div>
    <div>
        <img src="./../../assets/icons/Property 1=Firebase.png" alt="">
        <p>Firebase</p>
    </div>
    <div>
        <img src="./../../assets/icons/Property 1=Git.png" alt="">
        <p>Git</p>
    </div>
    <div>
        <img src="./../../assets/icons/Api.png" alt="">
        <p>REST-API</p>
    </div>
    <div>
        <img src="./../../assets/icons/Property 1=Scrum.png" alt="">
        <p>Scrum</p>
    </div>
    <div>
        <img src="./../../assets/icons/Property 1=Material Design.png" alt="">
        <p>Material design</p>
    </div>
  </div>
  <div>
    <div class="title-with-bar">
      <h2>Skills</h2>
      <div class="pixelbar-blue"></div>
    </div>
    <div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae, modi cupiditate deleniti at numquam omnis expedita consectetur iure iste non quisquam cumque pariatur, enim ea tenetur sunt maxime porro esse.</p>
    <h4>Looking for<h4 class="lila">another skills</h4>?</h4>
    <p>Reveal enthusiasm for learning new technoligies and frameworksk</p>
    <button>Get in touch</button>
    </div>
  </div>
</section>
