.section-startscreen {
  height: calc(100vh - 100px);
  max-width: 1920px;
  width: 100vw;
  margin: 0 auto;
  position: relative;
  box-sizing: border-box;
}

h3 {
  color: rgba(151, 71, 255, 1);
}

.title-wrapper {
  position: absolute;
  top: calc(50vh - 100px);
  transform: translateY(-50%);
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  > div {
    display: flex;
    align-items: center;
    justify-content: center;

    > h2 {
      rotate: 270deg;
    }

    > div {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
  }
}

.section-break {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  position: absolute;
  box-sizing: border-box;
  bottom: 64px;
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  left: 0px;
  padding-right:128px;

  > .icon-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;

    > .pixel-bar {
      height: 4px;
      width: 100px;
      background-color: rgba(112, 230, 28, 1);
      margin-left: 0px;
    }

    > div {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 42px;
      margin-left: 42px;

      > img {
        height: 30px;
        width: 30px;
        cursor: pointer;

        &:hover {
          transition: transform 0.2s ease;
          transform: scale(1.33);
        }
      }
    }
  }
}

.scroll-down {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 90px;
  width: 24px;
  gap: 8px !important;

  > p {
    rotate: 90deg;
    white-space: nowrap;
    display: inline-block;
  }

  > img {
    width: 24px;
    height: 24px;
  }
}

.shadow_1,.shadow_2{
  position: absolute;
  z-index: -1;
  top: 50vh;
  transform: translateY(-50%);
  transition: opacity 2s ease-in-out;
  animation: fadePulse 8s ease-in-out infinite;
}

.shadow_1 {
  left: 0px;
  height: 608px;
  width: 572px;
}

.shadow_2 {
  height: 573px;
  width: 679px;
  right: 0px;
}

button {
  width: 165px;
  height: 58px;
  background-color: rgba(112, 230, 28, 1);
  color: white;
  font-size: 23px;
  margin-top: 50px;
  top: 593px;
  border-radius: 10px;
  cursor: pointer;
}

button:hover {
  background-color: rgba(151, 71, 255, 1);
  transition: transform 0.2s ease;
  transform: scale(1.33);
}

@media only screen and (max-width: 950px) {
.shadow_1 {
  top: 20vh;
}
}

@media only screen and (max-width: 800px) {
.shadow_1 {
  height: 500px;
  width: auto;
}

.shadow_2 {
  height: 500px;
  width: auto;
}
}


@media only screen and (max-width: 670px) {
   h1 {
    font-size: 45px;
  }

  h2 {
    font-size: 32px;
  }

  h3 {
    font-size: 29px;
  }
  button {
  width: 133px;
  height: 49px;
  font-size: 16px;
}
.shadow_2, .shadow_1 {
  height: 400px;
  width: auto;
}
}

@media only screen and (max-width: 420px) {
   h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 28px;
  }

  h3 {
    font-size: 24px;
  }
  .shadow_2, .shadow_1 {
  height: 300px;
  width: auto;
}
}
