<section class="section-startscreen">
  <div class="title-wrapper">
    <div>
      <h2>I am</h2>
      <div>
        <h1>Simon Burlet</h1>
        <h3>FRONTEND DEVELOPER</h3>
      </div>
    </div>
    <button>Lets talk!</button>
  </div>

  <div class="section-break">
    <div class="icon-bar">
      <div class="pixel-bar"></div>
      <div>
        <img src="./../../assets/icons/8. Github button.png" alt="" />
        <img src="./../../assets/icons/9. Email button.png" alt="" />
        <img src="./../../assets/icons/10. Linkedin button.png" alt="" />
      </div>
    </div>
    <div class="scroll-down">
        <p>Scroll down</p>
        <img src="./../../assets/icons/arrow-down-line.png" alt="">
    </div>
  </div>
  <img class="shadow_1" src="./../../assets/images/Purple shadow (1).png" alt=""/>
  <img class="shadow_2" src="./../../assets/images/Purple shadow.png" alt="" />
</section>
