body {
  background-color: rgba(20, 29, 47, 1);
  color: white;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  /*overflow-x: hidden;*/
  box-sizing: border-box;
}

p {
  font-size: 14px;
}

h1 {
  font-size: 128px;
  margin: 0;
}

h2 {
  font-size: 90px;
  margin: 0;
}

h3 {
  font-size: 60px;
  margin: 0;
}

a {
  text-decoration: none;
  color: white;
  margin: 0;
}

.shadwow-wrapper {
  position: relative;
  width: 100%;
  max-width: 1920px;
  box-sizing: border-box;
}

@keyframes fadePulse {
  0%,
  100% {
    opacity: 0.5;
  }
  50% {
    opacity: 0.9;
  }
}

@media only screen and (max-width: 950px) {
  h1 {
    font-size: 90px;
  }

  h2 {
    font-size: 60px;
  }

  h3 {
    font-size: 40px;
  }
}

@media only screen and (max-width: 500px) {
  h1 {
    font-size: 64px;
  }

  h2 {
    font-size: 45px;
  }

  h3 {
    font-size: 30px;
  }
}
